.ve-area-wrapper .ve-init-target {
  border: 0px;
}

.ve-area-wrapper {
	display:block;
	border: 1px solid #ccc;
	font-size: ;
}

#pfForm .ve-area-wrapper textarea {
	border: 0px;
}

.ve-area-wrapper .oo-ui-toolbar-bar {
	border-bottom: 0px;
    border-top: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 0.9em;
}

.ve-ce-branchNode:focus {
	 border-color: #52bad5;
	 box-shadow: 0 0 7px rgba(39,128,248,.15);
}

.ve-area-wrapper .ve-ce-documentNode {
    padding: 0.6em 0.8em;
	min-height: 130px;
}

.ve-area-wrapper .oo-ui-toolbar-bar .oo-ui-toolbar-actions .oo-ui-toolbar-bar {
	border-top:0px;
}

.ve-area-wrapper .oo-ui-toolGroup {
	border-right:0px;
}

.ve-area-wrapper .oo-ui-toolbar-bar .oo-ui-tool-name-vefpgSwitchEditor .oo-ui-tool-link{
	padding:9px;
} 

.ve-area-wrapper .ve-ui-linearContextItem-label, .ve-area-wrapper .ve-ui-linearContextItem-actions,
.ve-area-wrapper .ve-ui-commentContextItem .ve-ui-linearContextItem-body {
	display:none;
}

.ve-area-wrapper .oo-ui-popupWidget-anchored .oo-ui-popupWidget-popup {
	min-height: 68px;
}

.ve-area-wrapper .ve-ui-linearContextItem-description {
	line-height: 1.7em;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    color: #888;
    margin-top: 11px;
}

.ve-area-wrapper .ve-ui-linearContextItem-title {
	padding: 0.7em 0.3em 0.7em 0.5em;
}

.ve-area-wrapper .ve-ui-linearContextItem-description::before {
	content: "Ceci est un commentaire nécéssaire à la traduction. Veuillez ne pas le supprimer.";
}